.info h2 {
    background-color: blueviolet;
    color: goldenrod;
}
.info {
    text-align: center;
    border: 5px solid goldenrod;
    padding: 35px;
    border-radius: 10px;
}
.header {
    background-color: goldenrod;
    color: blueviolet;
}
h3 { 
    background-color: goldenrod;
    color: blueviolet;
}